html {
  font-family: 'Anuphan', sans-serif;
  background-color: antiquewhite;
}

h1 {
  justify-content: center;

}

nav {
  background-color: crimson;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

nav li a:hover {
  background-color: antiquewhite;
}

nav li ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}