html {
  font-family: 'Anuphan', sans-serif;
  color: rgb(137, 137, 206);
  background-color: antiquewhite;
}

h1 {
  justify-content: center;
  margin-top: 50px; /* Optional: add some top margin to the h1 element */

}

div {
  text-align: center;
}


nav {
  background-color: rgb(137, 137, 206);
  overflow: hidden;
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

nav li a:hover {
  /* background-color: antiquewhite; */
}

nav li ::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.social-links a:hover {
  color: #007bff;
}

.fa-github, .fa-linkedin, .fa-stack-overflow {
  font-size: 24px;
}
